doctrine:
    dbal:
        default_connection: portfolio
        connections:
            portfolio:
                url: '%env(resolve:PORTFOLIO_DATABASE_URL)%'
            messenger:
                url: '%env(resolve:MESSENGER_DATABASE_URL)%'

    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true

        default_entity_manager: portfolio

        entity_managers:
            portfolio:
                connection: portfolio
                mappings:
                    Portfolio:
                        is_bundle: false
                        type: attribute
                        dir: '%kernel.project_dir%/src/Entity/Portfolio'
                        prefix: 'App\Entity\Portfolio'
                        alias: Portfolio

        controller_resolver:
            auto_mapping: false


when@test:
    doctrine:
        dbal:
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
